html {
  font-family: "Arial", serif;
  font-size: 36px;
  margin: fill;
  padding: 10px;
  line-height: 40px;
}
#wrapper {
  width: 1208px;
}
header {
  text-align: center;
}
footer {
  text-align: center;
}
a {
  font-size: 80%;
}
h1 {
  font-size: 100%;
}
h2 {
  font-size: 90%;
}
p {
  font-size: 70%;
}
menu {
  padding-left: 20px;
}
menu li {
  display: inline;
}
